flask==3.0.2
gunicorn==21.2.0
flask-cors==4.0.0
SpeechRecognition==3.10.1
gTTS==2.5.1
pydub==0.25.1
deep-translator==1.11.4
langcodes==3.3.0
groq==0.4.2
python-dotenv==1.0.0
Werkzeug==2.3.6     

